@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  color: #fff;
}

body {
  background: radial-gradient(
      52.52% 32.71% at 50% 97.66%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    #02191d;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input {
  padding: 12px;
  border-radius: var(--Radius-reg-2, 12px);
  border: 1px solid #07373f;
  outline: none;
  background: none;
  color: #fff;
}

@font-face {
  font-family: "JejuMyeongjo";
  src: url(../app/fonts/JejuMyeongjo-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
label,
input {
  font-family: "Roboto", serif;
}

.page {
  position: relative;
}

.page-container {
  width: 100%;
  margin: 146px 0;
}

.step-one__buttons,
.step-two__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  gap: 24px;
}

.step-one__buttons button,
.step-two__buttons button {
  padding: 12px 24px;
  font-family: "JejuMyeongjo";
  flex: 1;
}

.step-one__buttons button:first-child,
.step-two__buttons button:first-child {
  border-radius: var(--Radius-reg, 8px);
  color: #24a0b5;
  border: 1px solid #24a0b5;
}

.step-one__buttons button:last-child,
.step-two__buttons button:last-child {
  border-radius: var(--Radius-reg, 8px);
  background: #24a0b5;
  color: #fff;
}
