.step-one {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid #0e464f;
  background: #08252b;
}

.step-one__heading {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 24px;
  border-right: 2px solid #07373f;
  border-bottom: 2px solid #07373f;
  border-left: 2px solid #07373f;
  background: radial-gradient(
      57.42% 106.59% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    rgba(10, 12, 17, 0.1);
  backdrop-filter: blur(7px);
}

.step-one__heading-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.step-one__heading-head h1 {
  font-family: "Road Rage", serif;
  color: #fafafa;
  font-size: 62px;
  text-align: center;
}

.step-one__heading-head p {
  text-align: center;
  color: #fafafa;
  max-width: 340px;
}

.step-one__heading-head_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.step-one__heading-head_info p {
  color: #fafafa;
}

.step-one__divider {
  height: 4px;
  align-self: stretch;
  background: #07373f !important;
  border: none;
}

.step-one__type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 8px;
}

.step-one__button {
  display: flex;
  width: 158px;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  border: 2px solid #197686;
}

.step-one__button.selected {
  background-color: #12464e !important;
}

.step-one__type-buttons {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  border: 1px solid #07373f;
  background: #052228;
  align-self: stretch;
}

.step-one__button h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.step-one__button-type p {
  color: #fafafa;
  text-transform: uppercase;
}

.step-one__button-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.step-one__button-type p {
  color: #fafafa;
}

.step-one__button-type span {
  color: #d9d9d9;
}

.step-one__number {
  width: 100%;
}

.step-one__number-dropdown {
  display: flex;
}

.step-one__number-dropdown select {
  border-radius: var(--Radius-reg-2, 12px);
  border: 1px solid #07373f;
  padding: 12px;
  align-items: center;
  gap: var(--Radius-reg, 8px);
  align-self: stretch;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  outline: none;
}

.step-one__number {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.step-one__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
	gap: 24px;
}

.step-one__buttons button {
  padding: 12px 24px;
  font-family: "JejuMyeongjo";
  flex: 1;
}

.step-one__buttons button:first-child {
  border-radius: var(--Radius-reg, 8px);
  color: #24a0b5;
  border: 1px solid #24a0b5;

}

.step-one__buttons button:last-child {
  border-radius: var(--Radius-reg, 8px);
  background: #24a0b5;
  color: #fff;
}
